<div class="gridShell">
    <table class="grid table table-bordered table-striped">
        <thead>
            <tr>
                <th class="key-column">
                    <voodoo-sorter
                        text="Name" member="key" grid-state="gridState"
                        onsort="refresh()"></voodoo-sorter>

                </th>
                <th class="path-column">
                    <voodoo-sorter
                        text="Path" member="fullPath" grid-state="gridState"
                        onsort="refresh()"></voodoo-sorter>

                </th>
                <th class="key-column"></th>
            </tr>
        </thead>
        <tr data-ng-repeat="app in apps">
            <td>{{app.key}}</td>
            <td>{{app.fullPath}}</td>
            <td><button ng-click="edit(app.key)" class="btn btn-xs btn-primary">Edit</button></td>
        </tr>
    </table>
</div>
<voodoo-pager
    grid-state="gridState"
    onchange="refresh()"></voodoo-pager>
