.ng-cloak { display: none !important; }

.sortArrow { font-size: 50%; }

.grid th { padding: 0px 0px 0px 0px !important; }
.gridShell th {
    text-align: center;
}

.sorter {
    white-space: nowrap;
    width: 100%;
    margin: 0px 0px 0px 0px !important;
    font-weight:bold;
}
.github {
    float: right;
}
.grid {
    table-layout:fixed;
}
.gridShell {
    /*height: 430px;*/
    margin: 6px 0px 6px 0px;
    padding: 6px 0px 6px 0px;
}
.elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.path-column {   
    width:600px;
}
.key-column {
    width: 100px;
}
.form-group {
}
.left {
    float:left;
}
.clear {
    clear:both;
}
.buttons {
    width: 60px;
}